<%- include('../partial/head.ejs') %>
  <form class="ui form" action="/login" method="POST">
    <% if(errorMsg) { %>
      <div class="ui red message"><%= errorMsg %></div>
    <% } %>

    <h1 class="first header">Sign Up</h1>

    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" value="<% if(oldValues) { %><%= oldValues.email %><% } %>">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="pass" placeholder="Password">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="ui blue button" type="submit">Submit</button>
  </form>

  <script>
    $('.ui.form')
      .form({
        on: 'blur',
        inline: true,
        fields: {
          email: inputRuleSet.email,
          pass: inputRuleSet.password
        }
      })
  </script>
<%- include('../partial/footer.ejs') %>
